.header {
  padding-top: 50px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  max-width: 200px;
  min-width: 100px;
  max-height: 76px;
  min-height: 38px; 
  padding: 0;
  
}
.header__logo img {
  width: 100%;
  height: auto;

}
.header__burger {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}