.search {
  padding-top: 30px;
}
.search__form {
  height: 40px;
  display: flex;
  gap: 10px;
  border-radius: 40px;
  padding: 3px;
  width: 100%;
  background: var(--light-color);
  border: none;
  font-family: var(--font-text);
}
.search__form-input {
  flex-grow: 1;
  border-radius: 30px;
  padding: 8px 30px;
  background-color: var(--bg-color);
  border-color: transparent;
  color: var(--text-color);
  outline: none;
}
.search__form-input::placeholder {
  font-size: clamp(0.875rem, 0.743rem + 0.66vw, 1.25rem);
  line-height: 1;
  color: var(--placeholder-color);
}
.search__form-input:focus {
  background-color: var(--bg-color);
  border-radius: 30px;
  color: var(--text-color);
}
.search__form-btn {
  text-align: center;
  background-color: transparent;
  border: none;
}
.search__form-btn_text {
  font-size: 20px;
  line-height: 1.3;
  padding: 7px 72px;
  color: var(--text-color);
}
.search__form-btn_icon {
  display: none;
}
.search__form-btn:hover,
.search__form-btn:focus {
  scale: 1.1;
}
.search__form-btn:active {
  scale: 0.95;
}

@media (max-width: 768px) {
  .search__form-input {
    padding: 10px 12px;
  }
  .search__form-btn_text {
    display: none;
  }
  .search__form-btn_icon {
    display: block;
    padding: 6px 15px 6px 0;
  }
}
